.pie-chart-container {
    max-width: 1000px;  /* Set max width */
    width: 100%;  /* Ensure it takes up full width within its container */
    height: 750px;  /* Set a fixed height */
    margin: 0 auto;  /* Center the chart */
}