/* Sidebar styles */
.sidebar {
    width: 200px;
    background-color: #b4bc3e;
    padding: 20px;
    color: white;
    height: 100vh;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 100; /* Keeps sidebar above content */
    overflow-y: auto; /* Sidebar scrolls if content overflows */
    flex-grow: 1; /* The content will take the remaining space */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .sidebar ul li a:hover {
    background-color: #b4bc3e;
    padding: 5px 10px;
    border-radius: 5px;
  }